<a href="https://colab.research.google.com/github/MatheusMartini/Python/blob/main/Test_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.2/movies.csv"

filmes = pd.read_csv(uri)
filmes.head()
filmes.columns
filmes.columns = ["movees","titleee","generee"]
filmes.head()

   movees  ...                                      generee
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       2  ...                   Adventure|Children|Fantasy
2       3  ...                               Comedy|Romance
3       4  ...                         Comedy|Drama|Romance
4       5  ...                                       Comedy

[5 rows x 3 columns]