<a href="https://colab.research.google.com/github/MatheusMartini/Python/blob/main/Test_Data_Cience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [ ]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.2/movies.csv"

movies = pd.read_csv(uri)
movies.head()
movies.columns
movies.columns = ["Movies","Title","Genre"]
movies.head()

In [17]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula6.2/ratings.csv"

grades = pd.read_csv(uri)
grades.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931